.user-data-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-data-wrapper mat-form-field {
  width: 100%;
}

mat-form-field {
  font-family: 'Poppins', sans-serif;
  width: 400px !important;
  font-size: 13px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .opaque-form-field .mat-form-field-outline {
  background-color: #fff;
  border-radius: 5px;
}
