.file-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  max-width: 500px;
}

.file-card-text {
  margin-left: 1em;
  width: calc(100% - 2em);
  word-wrap: break-word;
}

.file-card-text h4 {
  margin: 0;
  text-overflow: ellipsis;
  flex: 1 1 auto;
}

.file-card-text-properties {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #888888;
}

.file-card-text-properties .spacer {
  flex: 1 1 auto;
}

::ng-deep .mat-card {
  padding: 8px 1em !important;
}
