/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

::ng-deep * {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}
